/* Apply New Amsterdam font to body and h1 elements */
body, h1 {
    font-family: "New Amsterdam", sans-serif;
}

header {
    text-align: center;
    padding: 20px;
}

.name {
    font-size: 3.5em;
    margin: 0;
}

body {
    background: #e68968;
    margin: 0; /* Remove default margin */
    padding: 20px; /* Add padding to leave some room around the edges */
    box-sizing: border-box;
}

#aboutMe {
    display: flex;
    justify-content: space-between;
}

figure {
    width: 40%;
}

#aboutMe>div {
    width: 45%;
}

h1 {
    font-weight: 400;
    font-style: normal;
}

main {
    max-width: 1200px; /* Limit the content width */
    margin: 20px auto; /* Center the content on the page */
    padding: 20px; /* Add padding inside the main container */
    background-color: #f2a391; /* Light terracotta background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow for separation */
    border-radius: 8px; /* Optional: Rounding the corners */
    border: 2px solid #000;
    box-shadow: 5px 10px 5px black;
}

.app{
    width: 40%;
    border: 2px solid #000;
    border-radius: 8px;
    padding: 10px;
    text-align: center;

}

.app img{
    width: 100%;
}

#aboutMe {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#me {
    width: 100%;
}

#vba {
    width: 70%;
    border-radius: 12px;
    border: 2px solid black;
    margin: 0 auto;
}

.card {
    width: 30%;
    border-radius: 12px;
    overflow: hidden;
    text-align: center; /* Center align text below the images */
}

.card img {
    max-width: 100px; /* Adjust the image size */
    height: auto;
    display: block;
}

#apps {
    display: flex;
    gap: 20px; /* Space between images */
    justify-content: space-around;
}

.info {
    margin-top: 20px;
}

.project {
    position: relative;
    text-align: center;
    margin-bottom: 20px; /* Add space between projects */
}

.project-link {
    position: absolute;
    top: 10px; /* Adjust this value to move the link up/down */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7); /* Adds a background for better readability */
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px; /* Rounded corners */
    z-index: 1;
}

.small-image {
    width: 100%; /* Adjust the size of the image */
    display: block;
    margin: 0 auto; /* Centers the image horizontally */
}

.project-wrapper {
    position: relative;
    display: inline-block;
    text-align: center;
}

.small-icon {
    width: 100px; /* Adjust this value to make the icon smaller or larger */
    height: auto;
    display: block;
    margin: 10px 0; /* Add some space around the image */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the image */
}

.details > div {
    height: 0;
    overflow: hidden;
    transition: height 1s;
}

.details:hover > div {
    height: 200px;
}
